body {
  position: relative;
  width: 1440px;
  background: #FFFFFF;
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  position: absolute;
  width: 1170px;
  margin: 121px 135px 122px;
}

.container-head {
  width: 450px;
  height: 157px;
  margin: 0 auto;
}
.container-head__subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 304px;
  left: 433px;
  top: 0;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #898F8F;
}
.container-head__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 66px;
  margin: 0 auto;
  width: 304px;
  left: 433px;
  top: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #FFCC00;
}
.container-head__divider {
  width: 450px;
  height: 20px;
}
.container-head__divider-img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 575px;
  top: 137px;
}
.container-head__divider-line1 {
  width: 210px;
  top: 147px;
  margin-top: 57px;
  border: 1px solid #FFCC00;
}
.container-head__divider-line2 {
  position: absolute;
  width: 210px;
  right: 360px;
  top: 147px;
  border: 1px solid #FFCC00;
}

.container-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
  width: 1030px;
  height: 560px;
}
.container-slider__left {
  width: 430px;
  margin-top: 65px;
}
.container-slider__left-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 15px;
  border-style: 1px 100px dashed #FFCC00;
}
.container-slider__left-corner {
  position: relative;
}
.container-slider__left-corner__TopLeft {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -430px;
  border: 1px solid #FFCC00;
  border-bottom: none;
  border-right: none;
}
.container-slider__left-corner__TopRight {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -430px;
  margin-left: 330px;
  border: 1px solid #FFCC00;
  border-left: none;
  border-bottom: none;
}
.container-slider__left-corner__BottomLeft {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -100px;
  border: 1px solid #FFCC00;
  border-top: none;
  border-right: none;
}
.container-slider__left-corner__BottomRight {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -100px;
  margin-left: 330px;
  border: 1px solid #FFCC00;
  border-left: none;
  border-top: none;
}
.container-slider__line3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 235px;
  margin-top: -285px;
  width: 560px;
  border: 1px solid #FFCC00;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.container-slider__right {
  position: absolute;
  width: 430px;
  height: 420px;
  left: 670px;
  margin-top: 65px;
}
.container-slider__right-info {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-slider__right-info__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #666666;
}
.container-slider__right-info__line4 {
  margin-left: 166px;
  margin-top: 30px;
  width: 100px;
  height: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFCC00;
}
.container-slider__right-info__profession {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 30px;
  color: #666666;
}
.container-slider__right-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 148px;
  margin-top: 30px;
  gap: 5px;
  text-align: center;
  width: 135px;
}
.container-slider__right-social__item {
  border: 2px solid #CCCCCC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-slider__right-social__item-icon {
  width: 60%;
  height: auto;
  fill: #fff;
  padding-left: 12px;
  padding-top: 9px;
}
.container-slider__right-social__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 430px;
  margin-top: 49px;
}
.container-slider__right-decore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
  margin-left: 190px;
  margin-top: 20px;
  width: 50px;
  height: 4px;
  top: 374px;
}
.container-slider__right-decore__restangle1 {
  width: 10px;
  height: 4px;
  background: #FFCC00;
}
.container-slider__right-decore__restangle2 {
  width: 20px;
  height: 4px;
  background: #FFCC00;
}
.container-slider__right-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  margin-left: 155px;
  margin-top: 20px;
  width: 118px;
  height: 24px;
  top: 395px;
  border: 1px solid #FFCC00;
}
.container-slider__right-button__item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
}